.Resume{
    display:flex;
    background-image: url('https://i.pinimg.com/originals/e7/eb/54/e7eb54cfce0c82bffdefab4b767e1acc.jpg');
    flex-direction: column;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
    
    
    align-items: center;
    top: 0px;
    
    color: black;
    font-size:1.5em ;
    z-index: 1;
    
    
    

    
    
   
    
   
 
    
}