.About{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh ;

    align-items: center;
    top: 0px;
    color: white;
    font-size:1.em ;
    z-index: 1;
    background-image:url('https://i.pinimg.com/originals/e7/eb/54/e7eb54cfce0c82bffdefab4b767e1acc.jpg');
    background-size: cover;
}

