.Contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh ;
    align-items: center;
    top: 0px;
    width: 100%;
    color: white;
    font-size:1.5em ;
    z-index: 1;
    margin: auto;
    background-image:url('https://steamuserimages-a.akamaihd.net/ugc/965343738220088937/5615A5CC996AF09546BA1C74EFF8FEF6AD8700D6/');
    font-size: larger;
    font-family:Arial;
}