.Contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh ;
    align-items: center;
    top: 0px;
    width: 100%;
    color: white;
    font-size:1.5em ;
    z-index: 1;
    margin: auto;
    background-image:url('https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-light-effect-particle-banner-background-image_213574.jpg`');
    background-size:cover;
    font-size: larger;
    font-family:Arial;
}

a {
    color:rgb(241, 236, 236);
    
}

a :hover{
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    color: white;
    height: 80px;
    width: 80px;
 }

 .gitubLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;

 }

 .gitubLogo :hover{
   color:  #eef0ec;
   border-radius: 50px;
   position: relative; 
   top: -1px;   
}


.Container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(71, 113, 148, 0.876);
    height: 600px;
    width: 800px;
    border-radius: 10px;
}