.NavBar{
    position: fixed;
    top: 0;
    height: 100px;
    width: 97vw;
    background:rgba(0, 0, 0, .8);
    background-position: fixed;
    padding-right: 3vw;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .NavBar img{
   height: 50px;
  }


  .NavBar a{
    margin-right: 20px;
  }

  .link{
    color: #b0b2c3;
    text-decoration: none;
    font-size: 1.5em;
  }

  .link:hover{
    color: white;
    cursor: pointer;
    transition: color .40s ease;
  }

 @media all and (max-width:500px){
   .NavBar{
     position:fixed;
     display: flex;
     width:588px;
   }
 }