.App {
  text-align: center;
  min-height: 800px;
  color: white;
  height: 100vh;
  padding-top: -100px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.link:hover{
  color: red;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
  margin: auto;

  justify-content: center;
  padding: 0px;
  position: relative;
  z-index: 1;
 
}

.overlay{
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background:rgba(0, 0, 0, .7)
}                      

.landingImage{
  background-image: url('https://images.unsplash.com/photo-1547185942-2b5661136b1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&w=1000&q=80') ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
}



::-webkit-scrollbar {
  width: 0.80rem;
}

::-webkit-scrollbar-track {
  background: #020204;
}
 
::-webkit-scrollbar-thumb {
  background: #072af0f6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width:500px){
  .landingImage .overlay{
    display: flex;
    position: relative;
    width: 500px;
  }
  .App{
    display: flex;
    position: relative;
    padding-right: 100px;
    margin:0px;
    width: 500px;
  }
  .container{
    width: 500px;
  }
}